@import url("https://fonts.googleapis.com/css?family=Muli:400,700");
#WS-ScroLi {
  position: absolute; }
  #WS-ScroLi.fixed {
    position: fixed; }
  #WS-ScroLi.asbolute {
    position: absolute; }
  #WS-ScroLi [class^="item"] {
    display: inline-block;
    display: inline-grid;
    justify-content: center;
    align-content: center;
    position: relative; }
    #WS-ScroLi [class^="item"] .line, #WS-ScroLi [class^="item"] .line-animation {
      position: absolute; }
    #WS-ScroLi [class^="item"] .line-animation {
      z-index: 999; }
    #WS-ScroLi [class^="item"].reading {
      color: red;
      border-color: red; }
      #WS-ScroLi [class^="item"].reading .line, #WS-ScroLi [class^="item"].reading .line-animation {
        background: red; }
    #WS-ScroLi [class^="item"].current {
      border-width: 3px;
      color: green;
      border-color: green; }

body {
  font-family: 'Muli', sans-serif; }
  body #header {
    height: 1000px;
    width: 100%;
    background-color: orange;
    overflow: auto;
    display: grid;
    justify-content: center;
    align-content: center; }
    body #header h1 {
      text-align: center;
      color: white;
      font-size: 60px; }
  body #description p {
    text-align: center;
    font-size: 18px;
    margin: 50px 0; }
